@import 'element-diy.scss';

body {
  font-size: 14px;
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: PingFangSC , Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

a, address, b, big, blockquote, body,
center, cite, code, dd, del, div, dl, dt, em,
fieldset, font, form, h1, h2, h3, h4, h5, h6,
html, i, iframe, img, ins, label, legend, li,
ol, p, pre, small, span, strong, u, ul, var {
  margin: 0;
  padding: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
  box-sizing: border-box;
  list-style-type: none;
}

.container{
  width: 1200px;
  margin: auto;
}

.flex-row-space-between{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.flex-column-center{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}


/*Controls the entire scroll bar*/
::-webkit-scrollbar {
  background-color: #ECF0F7;
  width: 10px;
  height: 10px;
  background-clip: padding-box;
}

/*Middle sliding part of scroll bar*/
::-webkit-scrollbar-thumb {
  background-color: #D3DBE6;
  border-radius: 5px;
}
/*Scroll bar lower right area*/
::-webkit-scrollbar-corner {
  background-color: #ECF0F7;
}
