.sca-list.el-table th > .cell{
  color: #4A72AE;
}
.sca-list.el-table--enable-row-hover .el-table__body tr:hover > td{
  color: #4B99F1;
}

.agentManageTable.el-table th > .cell{
  color: #959FB4;
  font-size: 14px;
}

.agentManageTable.el-table .cell{
  color: #38435A;
  font-size: 14px;
}

.projectList-table{
  width: 100%;
  margin-top: 18px
}

.projectList-table.el-table th > .cell{
  color: #4A72AE;
}

.projectList-table.el-table .cell{
  color: #959EA9;
}


.userListTable{
  width: 100%;
  margin-top: 14px
}
.userListTable.el-table th > .cell{
  color: #4A72AE;
}


.addUserInput .el-input__inner:focus{
  border-color: #D5DCE3
}

.addUserInput.el-select .el-input.is-focus .el-input__inner{
  border-color: #D5DCE3
}