apiVersion: apps/v1
kind: Deployment
metadata:
  name: dongtai-web
  namespace: iast-test
  annotations:
    kubesphere.io/description: dongtai前端项目
  labels:
    app: dongtai-web
spec:
  replicas: 1
  selector:
    matchLabels:
      app: dongtai-web
  template:
    metadata:
      labels:
        app: dongtai-web
    spec:
      containers:
        - name: dongtai-web-container
          image: registry.cn-beijing.aliyuncs.com/secnium/iast-saas-web-test:VERSION
          imagePullPolicy: Always
          volumeMounts:
            - name: configfile
              mountPath: /etc/nginx/nginx.conf
              subPath: nginx.conf
          resources:
            limits:
              cpu: "500m"
              memory: 1000Mi
            requests:
              cpu: "500m"
              memory: 1000Mi
      volumes:
        - name: configfile
          configMap:
            name: dongtai-web-nginx-conf
      imagePullSecrets:
        - name: aliyun-registry-secret
