apiVersion: apps/v1
kind: Deployment
metadata:
  name: dongtai-web
  namespace: iast-dev
  annotations:
    kubesphere.io/description: dongtai前端项目
  labels:
    app: dongtai-web
spec:
  replicas: 1
  selector:
    matchLabels:
      app: dongtai-web
  template:
    metadata:
      labels:
        app: dongtai-web
    spec:
      containers:
        - name: dongtai-web-container
          image: registry.cn-beijing.aliyuncs.com/secnium/iast-saas-web-dev:VERSION
          imagePullPolicy: Always

          resources:
            limits:
              cpu: "500m"
              memory: 1000Mi
            requests:
              cpu: "500m"
              memory: 1000Mi
      imagePullSecrets:
        - name: aliyun-registry-secret
---
apiVersion: v1
kind: Service
metadata:
  labels:
    app: dongtai-web
  name: dongtai-web-pub-svc
  namespace: iast-dev
spec:
  ports:
  - port: 8081
    protocol: TCP
    targetPort: 80
  selector:
    app: dongtai-web
  type: LoadBalancer
